body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    padding: 10px 20px;
    font-size: 12px;
    color: #565656;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.product-display {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
}

.product-d-image {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.product-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-icon img {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.product-d-details {
    margin: 0 30px;
    flex: 1;
}

.product-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.product-description {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.product-price {
    font-size: 20px;
    color: #b12704;
    margin-bottom: 20px;
}

.add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9900;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #e68a00;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product-rating img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
